/* 公共样式 */
* {
    touch-action: pan-y;
}

body,
.mui-content {
    background-color: white;
}

.mui-content {
    margin-bottom: 10px;
}

/* 头部样式 */
.my-header {
    background-color: #006699;
}

.my-header h1,
a {
    color: #fff;
}

.my-footer {
    background-color: #006699;
}

.my-footer .mui-tab-item {
    color: #fff;
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: orange;
}