.mui-row.mui-fullscreen>[class*="mui-col-"] {
    height: 100%;
}

.mui-col-xs-3,
.mui-control-content {
    overflow-y: auto;
    height: 100%;
}

.mui-segmented-control .mui-control-item {
    line-height: 50px;
    width: 100%;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    background-color: #fff;
}

.mui-table-view-cell {
    width: 33.33%;
    float: left;
    height: 100px;
    padding: 1px;
    position: relative;
}

.mui-table-view-cell>a:not(.mui-btn) {
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.mui-table-view-cell .mui-icon {
    display: block;
}

.mui-table-view-cell .mui-tab-label {
    font-size: 12px;
}

.mui-table-view-cell:after {
    height: 0;
}

.mui-table-view {
    overflow: hidden;
    padding: 10px;
}