.container {
    padding: 10px;
}

.container .search {
    border: 2px solid #006699;
    overflow: hidden;
}

.container .search input {
    float: left;
    width: 75%;
    margin: 0;
}

.container .search button {
    float: left;
    width: 25%;
    height: 40px;
    background-color: #006699;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 0;
}

.container .search button span {
    font-size: 18px;
}

.container .history {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}

.container .history p {
    margin: 0;
}

.container .history span {
    font-size: 18px;
}

.container .item {
    border-bottom: 1px solid #aaa;
}

.container .item p {
    margin: 0;
    padding: 10px;
}